---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <div class="boardgame-list">
    {%- for post in site.posts -%}
    <div class="boardgame">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
      -%}
      <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
      <img
        class="boardgame-image"
        src="./assets/images/{{ post.post_image }}"
      />
      <div class="boardgame-description">
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {{ post.content }}
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
      </div>
    </div>
    {%- endfor -%}
  </div>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}
  <img
    id="platty-footer"
    src="https://aion.network/material/views/aion/assets/img/platty_footer.png"
  />
</div>
